---
import VideoPlayer from './VideoPlayer.svelte';

export interface Props {
  title: string;
  videoId: string;
  date: string;
  desc: string;
}

const { title, videoId, date, desc } = Astro.props;
---
<!-- width="560" height="315" -->
<div class="flex flex-col gap-2">
  <iframe class="h-[30vh] md:h-[60vh]" src=`https://www.youtube.com/embed/${videoId}` title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <div>
    <h4>{ title }</h4>
    <div class="flex">
      <div>thumb</div>
    </div>
  </div>
  <div class="p-4 rounded flex flex-col gap-4 dark:bg-zinc-800">
    <div>shared on { date }</div>
    <div class="relative h-32 overflow-hidden">
      <div class="whitespace-pre-wrap">{ desc }</div>
      <button type="button" class="absolute bottom-0 right-0 dark:hover:bg-zinc-500">...more</button>
    </div>
  </div>
</div>


<script>
  const moreBtn = document.querySelector()
</script>